<a href="https://colab.research.google.com/github/grant88/education/blob/main/pandas_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from google.colab import files

**Задание 1**

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 

Определите, какому фильму было выставлено больше всего оценок 5.0.

Загрузка файлов movies.csv и ratings.csv

In [5]:
movies_uploaded = files.upload()

In [ ]:
ratings_uploaded = files.upload()

In [7]:
movies_filepath = "/content/movies.csv"
ratings_filepath = "/content/ratings.csv"

In [8]:
movies = pd.read_csv(movies_filepath)
ratings = pd.read_csv(ratings_filepath)

In [9]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [10]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [25]:
film_id = ratings.query('rating == 5.0')[['movieId']].value_counts(ascending=False).reset_index().iloc[0, 0]
film_id

318

In [26]:
top_movie = movies[movies['movieId'] == film_id].iloc[0, 1]
top_movie

'Shawshank Redemption, The (1994)'

**Задание 2**

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [14]:
power_uploaded = files.upload()

Saving power.csv to power.csv

In [15]:
power_filepath = "/content/power.csv"

In [17]:
power = pd.read_csv(power_filepath)

In [18]:
quantity_sum = power[
        (power['country'].isin(['Estonia','Latvia','Lithuania'])) & 
        (power['category'].isin([4 ,12, 21])) & 
        (power['year'] >= 2005) & 
        (power['year'] <= 2010) &
        (power['quantity'] >= 0) 
    ]['quantity'].sum()

Суммарное потребление стран:

In [19]:
quantity_sum

240580.0

**Задание 3**

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [20]:
url = 'https://www.notebookcheck-ru.com/Luchshie-processory-dlja-noutbukov-Reiting-2022.14099.0.html?'

In [21]:
columns = [
    '№','Модель', 'кэш 2 ур. + кэш 3 ур.', 'TDP (Вт)', 'МГц - Turbo',
    'Ядра / Потоки', 'Процентов в сравнении с абсолютным лидером'
]

#### Получение данных

In [22]:
df = pd.read_html(url, header=0, encoding='utf-8', keep_default_na=False)[0][columns]

#### Фильтрация лишних (вспомогательных) строк

In [23]:
df['№'] = df['№'].apply(lambda x: x.replace('*',''))
res = df[df['№'].apply(lambda x: x.isdigit())]

In [24]:
res.head()

   №  ... Процентов в сравнении с абсолютным лидером
0  1  ...                                       82.2
1  2  ...                                       78.5
2  3  ...                                       75.7
3  4  ...                                       78.7
4  5  ...                                     ~5473%

[5 rows x 7 columns]