<a href="https://colab.research.google.com/github/grant88/education/blob/main/exceptions_and_errors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание 1**

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [1]:
from datetime import datetime

In [2]:
# The Moscow Times - Wednesday, October 2, 2002
datetime(2002, 10, 2).strftime('%A, %B %-d, %Y')

'Wednesday, October 2, 2002'

In [3]:
# The Guardian - Friday, 11.10.13
datetime(2013, 10, 11).strftime('%A, %d.%m.%y')

'Friday, 11.10.13'

In [4]:
# Daily News - Thursday, 18 August 1977
datetime(1977, 8, 18).strftime('%A, %d %B %Y')

'Thursday, 18 August 1977'

**Задание 2** 

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [5]:
from datetime import datetime
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def date_check(date_str):
    """
    Для каждой даты возвращает True (дата корректна) или False (некорректная дата)
    """
    try:
        datetime.strptime(date_str, '%Y-%m-%d')
        return True
    except Exception as e:
        return False

list(map(date_check, stream))

[True, False, False]

**Задание 3**

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date.

Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [6]:
from datetime import datetime
from datetime import timedelta

def date_check(date_str):
    """
    Для каждой даты возвращает True (дата корректна) или False (некорректная дата)
    """
    try:
        datetime.strptime(date_str, '%Y-%m-%d')
        return True
    except Exception as e:
        return False

def date_range(start, end):
    """
    Возвращает список дат за период от start_date до end_date.

    Даты должны вводиться в формате YYYY-MM-DD. 
    В случае неверного формата или при start_date > end_date возвращается пустой список.
    """
    if date_check(start) and date_check(end) and start <= end:
        start_date = datetime.strptime(start, '%Y-%m-%d')
        end_date = datetime.strptime(end, '%Y-%m-%d')
        days = (end_date - start_date).days + 1
        return [(start_date + timedelta(days=i)).strftime('%Y-%m-%d') for i in range(days)]
    return []

In [7]:
date_range('2021-01-01','2021-01-02')

['2021-01-01', '2021-01-02']

**Задание 4 (необязательное)**

In [8]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)

    return default_list[DEFAULT_USER_COUNT-2]

In [9]:
delete_and_return_last_user(1)

'A101'

**Что значит ошибка list index out of range?**

Ошибка означает, что индекс, по которому запрашивается элемент из списка, не входит в множество индексов для этого списка.

**Почему при первом запуске функция работает корректно, а при втором - нет?**

Потому что при создании функции создается и объект-список default_list. 
На этот же самый объект-список и ссылаются все последующие вызовы функции. 
А его длина после каждого вызова становится меньше на 1. 
После определенного кол-ва вызовов этой функции его длина становится менее 2. 
И вызов default_list[1] возвратит ошибку IndexError: list index out of range